*{
	margin: 0;
	padding: 0;
}

body{
	font-family: Open Sans, Arial, sans-serif;
	overflow: auto;
	background-image: url(scape.jpg);

}


nav{
	position: fixed;
	z-index: 1000;
	top: 0;
	bottom: 0;
	width: 200px;
	background-color: black;
	transform: translate3d(-200px, 0 , 0);
	transition: transform 0.4s ease;
}

h1{
	float: right;
	padding-right: 10px;
	padding-top: 5px;
	font-family: 'Baloo Bhaina', cursive;
}
.active-nav nav{
	transform: translate3d(0,0,0);
}

.toggle img{
	padding-top: 10px;
	padding-left: 5px;
	max-height: 90%;
	max-width: 90%;
}

nav ul{
	opacity: 0.5;
	list-style: none;
	margin-top: 100px;
}
nav ul li:hover:not(.active){
	background: #555;
	color: white}
nav ul li a {
	text-decoration: none;
	display: block;
	text-align: center;
	color: #fff;
	padding: 15px 0;
}
.toggle{
	display: block;
	position: absolute;
	left: 200px;
	width: 40px;
	height: 40px;
}

.active-nav .content{
	transform: translate3d(200px,0,0);
}

.gallery-box{
	padding:10px 0px;
	font-family: 'Baloo Bhaina', cursive;
}

.img-single{
	width: 150px;
	height: 140px;
	float: left;
	margin: 16px 8px;
}

.img-single img{
	width: 100%;
	height: 100%;
}

.img-single:hover{
	opacity: .5;
}

.wrapper{
	padding-top: 100px;
	width: 1020px;
	margin: 0 auto;
}
/*footer{
	position: absolute;
	width: 100%;
	bottom: 0;
	height: 2px;
	background-color: #222;
}*/